<div class="pl-5 pr-5" class="start">
  <div class="d-flex flex-row main-heading justify-content-between  align-items-center">
    <h1 class="main-heading-text">Create Cool Avataaar Now</h1>
    <div>
      <button mat-flat-button color="primary" class="bottomButton" (click)="getRandom()">
        <i class="fa fa-random"></i>&nbsp; Random
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex justify-content-center align-item-center p-2">
    <app-avtaar [options]="options"></app-avtaar>
  </div>
  <form [formGroup]="avatarForm" class="d-flex flex-column align-item-between">
    <!-- <div class="d-flex flex-row"> -->
      <!-- <span class="option">Avatar Style  &nbsp; </span> -->
      <!-- <mat-radio-group formControlName="avatarStyle"> -->
        <!-- <ng-container *ngFor="let option of avatarStyle"> -->
          <!-- <mat-radio-button class="pl-3" color="primary" [value]="option">{{option}}</mat-radio-button> -->
        <!-- </ng-container> -->
      <!-- </mat-radio-group> -->
    <!-- </div> -->
    <div class="d-flex flex-row justify-content-between  align-items-center">
      <div class="option">Top</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="top">
          <ng-container *ngFor="let option of tops">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf=" options.top !== (topsEnum.EYEPATCH)">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp;Accessories</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="accessories">
          <ng-container *ngFor="let option of accessories">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf=" showHairColour()">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp;Hair-Color</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="hairColor">
          <ng-container *ngFor="let option of hairColor">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf="showHatColour()">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp;Hat-Color</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="hatColor">
          <ng-container *ngFor="let option of hatColor">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf=" options.top !== (topsEnum.HIJAB)">
      <div class="option">FacialHair</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="facialHair">
          <ng-container *ngFor="let option of facialHair">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf=" options.top !== (topsEnum.HIJAB)">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp;Facial-Hair Color</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="facialHairColor">
          <ng-container *ngFor="let option of facialHairColor">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between  align-items-center">
      <div class="option">Clothes</div>
      <mat-form-field class=" optionSelection">
        <mat-select formControlName="clothes">
          <ng-container *ngFor="let option of clothe">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf="showColourFabric()">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp; Color Fabric</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="clothColor">
          <ng-container *ngFor="let option of clothColor">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" *ngIf="options.clothes === (clothesEnum.GRAPHIC_SHIRT)">
      <div class="option"><i class="fa fa-arrow-right"></i>&nbsp;Graphic</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="graphic">
          <ng-container *ngFor="let option of graphic">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center">
      <div class="option">Eyes</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="eyes">
          <ng-container *ngFor="let option of eyes">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between  align-items-center" >
      <div class="option">Eyebrows</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="eyebrow">
          <ng-container *ngFor="let option of eyebrow">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    
    
   
    
    <!--<div class="d-flex flex-row justify-content-between  align-items-center">-->
    <!--<div class="option">Face</div>-->
    <!--<mat-form-field class="optionSelection">-->
    <!--<mat-select formControlName="face">-->
    <!--<ng-container *ngFor="let option of face">-->
    <!--<mat-option [value]="option">{{option}}</mat-option>-->
    <!--</ng-container>-->
    <!--</mat-select>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    

    <div class="d-flex flex-row justify-content-between  align-items-center">
      <div class="option">Mouth</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="mouth">
          <ng-container *ngFor="let option of mouth">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex flex-row justify-content-between  align-items-center">
      <div class="option"><i class="fas fa-palette"></i>Skin</div>
      <mat-form-field class="optionSelection">
        <mat-select formControlName="skin">
          <ng-container *ngFor="let option of skin">
            <mat-option [value]="option">{{option}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="d-flex flex-row justify-content-between  align-items-center" style="width: fit-content;">
      <div class="d-flex flex-column"></div>
      <div class="d-flex flex-row">
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="onDownloadPNG()"><i
          class="fa fa-download"></i> &nbsp; PNG
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="downloadSvg()"><i
          class="fa fa-download"></i> &nbsp; SVG
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleAngular(true)"
                *ngIf="!showAngular"><i class="fa fa-code"></i> &nbsp; Show Angular
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleAngular(true)"
                *ngIf="showAngular"><i class="fa fa-code"></i> &nbsp; Hide Angular
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleImage()" *ngIf="false"><i
          class="fa fa-code"></i> &nbsp; Show image
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleImage()" *ngIf="false"><i
          class="fa fa-code"></i> &nbsp; Hide image
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleSvg(true)" *ngIf="!showSvg"><i
          class="fa fa-code"></i> &nbsp; Show Svg
        </button>
        <button mat-flat-button color="primary" class="m-1 bottomButton" (click)="toggleSvg(true)" *ngIf="showSvg"><i
          class="fa fa-code"></i> &nbsp; Hide Svg
        </button>
        <br>
      </div>
      <a mat-flat-button class="tweetButton" target="_blank"(click)="tweet()">
        <i class="fa fa-twitter"></i>
        &nbsp; Tweet
      </a>
    </div>

  </form>
  <div *ngIf="showAngular">
    <textarea style="width: 100%; height: 150px" type="text" #angularText >{{angularCode}}</textarea>
      <button mat-stroked-button (click)="copyText(angularText)"><i class="fa fa-copy"></i></button>
  </div>
  <div  *ngIf="showSvg">
    <textarea style="width: 100%; height: 150px" type="text" #svgText>{{svgData}}</textarea>
    <button mat-stroked-button (click)="copyText(svgText)"><i class="fa fa-copy"></i></button>
  </div>


</div>
<canvas style="height: 140 ;width: 132; display: none" itemref="canvasRef" id="canvasRef">
</canvas>
